/* font style */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
.work-sans-medium-500 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

/* component Topmost css */

.img-icons {
  width: 30px;
  margin-right: 8px;
  text-align: left;
}

.nav-customs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
